/*.dll
/*.a
/*.so
/*.dylib
/db
/target
/.idea
/.settings
/.project
/.classpath
.idea/
/native/cmake-build-debug-mingw
/build/win/build
/build/win/dist
/build/win/mingw64
/build/win/ninja
/build/win/archive
/src/main/resources/META-INF/tsdb4j.dll
/src/main/resources/META-INF/tsdb4j.so
/src/main/resources/META-INF/tsdb4j.dylib
/native/cmake-build-release-mingw
/build/win/cmake
/native/cmake-build-debug-visual-studio
